<h1> Roll the Dice </h1>
<p> <%= rand(6) +1 %> <p>
<p> <%= rand(6) +1 %> <p>


<%= image_tag "http://www.kiei925.com/images/dice/#{rand(6) +1}.png" %>

<%= image_tag "http://www.kiei925.com/images/dice/#{rand(6) +1}.png" %>



